[submodule "libs/get"]
	path = libs/get
	url = https://github.com/fortheusers/libget.git
[submodule "libs/chesto"]
	path = libs/chesto
	url = https://github.com/fortheusers/chesto.git
[submodule "libs/librpxloader"]
	path = libs/librpxloader
	url = https://github.com/wiiu-env/librpxloader.git
