[submodule "libs/get"]
	path = libs/get
	url = https://gitlab.com/4tu/libget.git
[submodule "libs/chesto"]
	path = libs/chesto
	url = https://gitlab.com/4tu/chesto.git
[submodule "libs/librpxloader"]
	path = libs/librpxloader
	url = https://github.com/wiiu-env/librpxloader.git
