name: Build SDL2 console apps

on:
  push:
    branches:
      - main 
      - test
  pull_request:
    branches:
      - main

jobs:
  all:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: wiiu
            ext: wuhb
          - platform: switch
            ext: nro
          # - platform: 3ds
          #   ext: 3dsx
          - platform: wii
            ext: dol
    container:
      image: ghcr.io/fortheusers/sealeo:latest
    steps:
    - uses: actions/checkout@main
      with:
        submodules: recursive
    - if: matrix.platform == 'wii'
      name: Setup SDL2 Widescreen
      run: |
        git clone https://github.com/Fancy2209/SDL -b Widescreen
        cd SDL
        apt-get install ninja-build
        cmake -D CMAKE_TOOLCHAIN_FILE=/opt/devkitpro/cmake/Wii.cmake -B build -G Ninja
        cmake --build build --parallel
        cmake --install build
        cd ..
        git config --global --add safe.directory /__w/hb-appstore/hb-appstore
        git submodule update --recursive --remote

    - name: Build ${{ matrix.platform }}
      run: make ${{ matrix.platform }}
    - uses: actions/upload-artifact@v4
      with:
        name: appstore.${{ matrix.ext }}
        path: /__w/hb-appstore/hb-appstore/appstore.${{ matrix.ext }}
    - if: matrix.platform == 'wiiu'
      uses: actions/upload-artifact@v4
      with:
        name: appstore.rpx
        path: /__w/hb-appstore/hb-appstore/appstore.rpx
